
<div >


<div class="dropdown clearfix pull-right">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuDivider" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        排序
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuDivider">
        <li>
            <%= link_to("按照薪资下限排序", jobs_path(:order => "by_lower_bound")) %>
        </li>
        <li>
            <%= link_to("按照薪资上限排序", jobs_path(:order => "by_upper_bound")) %>

        </li>
        <li>
            <%= link_to("按照发表时间排序", jobs_path ) %>

        </li>
    </ul>
</div>

<% if current_user && current_user.has_applied?(@job) %>
  <%= link_to("Has Applied", new_job_resume_path(@job), class: "btn btn-info btn-sm
              disabled", method: :get) %>
<% end %>

   <br><br>
  <%= render :partial => "jobs_item", :collection => @jobs, :as => :job %>



<div class="text-center">
    <%= will_paginate(@jobs, renderer: BootstrapPagination::Rails) %>
</div>

</div>
