<div>
    <br>
    <% if @query_string.blank? %>
    <div class="search-info-title">
        Sorry, The search content cannot be blank, please type some product into to search.
    </div>

    <% elsif @jobs.blank? %>
    <br>
    <h2 class="search-info-title">搜索信息不能为空，请输入关键字搜索</h2>
<% else %>
    <h2 class="search-info-title">
        有关"<%= @query_string %>"的工作信息
    </h2>
    <div class="search-result">

        <div class="row jobs-show0"></div>
        <div class="job-table">
            <% @jobs.each do |job| %>

            <div class="row jobs-show" style="font-size:1.5em">
                <div class="col-md-12 ">
                    <p ><%= link_to(render_highlight_content(job,@query_string),job_path(job)) %></p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <p>
                        <i class="fa fa-jpy fa-md" aria-hidden="true"></i>
                        <%= job.wage_lower_bound %>
                        ~
                        <%= job.wage_upper_bound %></p>
                </div>

                <div class="col-md-4">
                    <i class="fa fa-location-arrow" aria-hidden="true"></i>
                    <%= job.location %>
                </div>

                <div class="col-md-4">
                    发布时间：<%= job.created_at.to_date %>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <p>
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                        <%= job.contact_email %></p>
                </div>
                <div class="col-md-4"></div>
                <div class="col-md-4"></div>

            </div>

            <% end %>
        </div>

    </div>

    <% end %>
</div>
<div class="text-center">
    <%= will_paginate(@jobs, renderer: BootstrapPagination::Rails) %>
</div>
