<!DOCTYPE html>
<html>
    <head>
        <title>JL6
        </title>
        <%= csrf_meta_tags %>

        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>

    <body>

        <div class="container-fluid">
            <%= render "common/navbar" %>
            <%= render "common/flashes" %>
            <div class="row">
                <div class="col-md-2">
                    <ul class="nav nav-pills nav-stacked" style="max-width: 300px; padding-top:20px;">
                        <li class="active"><%= link_to("Jobs", admin_jobs_path ) %>
                        </li>

                    </ul>
                </div>

                <div class="col-md-10">
                    <%= yield %>
                </div>
            </div>
        </div>

        <div id="sidebar" class="sidebar">
           <ul>
             <li class="backtop"><i class="fa fa-arrow-circle-up"></i></li>
             <li class="support">
               <i class="fa fa-thumbs-o-up"></i>
               <div class="ewm">
                 <p>
                   如果喜欢本网站<br>
                   <a href="https://fullstack.xinshengdaxue.com/works/304" target="_blank">请帮我投个票</a><br>
                 </p>
                </div>
             </li>
           </ul>
          </div>

        <%= render "common/footer" %>

    </body>
</html>
